.bg-default-image {
    background-image: url('/images/default.png');
    background-attachment: fixed;
    padding: 100px 0px 75px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* text-shadow: 2px 2px black; */
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    --bs-btn-active-border-color: transparent;
}


.dropdown-item:active {
    background-color: transparent !important;
  }

.pointer {
    cursor: pointer;
}